@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* BIAR SECTION GA KETUTUP NAVBAR */
section {
  scroll-margin-top: 100px;
}

/* ANIMASI MODAL */
@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease;
}
